body {
  flex: auto;
	flex-direction: column;
  text-align: center;
	width: 100%;
  height: 100%;
  display: flex;	
	align-items: center;
  justify-content: center;
	margin: 10px;
	background: url("https://i.redd.it/qwd83nc4xxf41.jpg");
	
}

h1{
	color: white;
	display: flex;
	padding-left: 30%;
	align-items: center;
}

#title-box {
	width: 100%;
	background-color: #25D366;
	border-radius: 4px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
	display: flex;}

.corner-keir {
	margin-left: auto;
	float: right;
	padding: 0;
height: 10rem;
}

.card {
	background-color: white;
	border-radius: 4px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
	padding: 8px 16px 8px 16px;
}

h3{
	padding-left: 6px;
}

li{
	padding: 4px;
	list-style-position: inside;
}

.bullet {
position: relative;
left: 22px;
padding-right: 24px;
}

ul{
	list-style: none;
}


#extractor {
	flex-direction: row;
}

.welcome-text {
	text-align: left;
  width: 90vw;
  padding: 10px;
	margin-bottom: 8px;
}


.bold {
	font-weight: bold;
}

#extractor {
	flex: auto;
	flex-direction: row;
	justify-content: space-between;
}

button {
	right: 0;
	border: none;
	width: 200px;
  height: 50px;
	padding: 1rem 2rem;
	font-size: 1rem;
	margin: 2px;
	text-decoration: none;
	background: #25D366;
	color: #ffffff;
	font-family: sans-serif;
	box-shadow: 0 4px 7px rgba(0, 0, 0, 0.4);
	cursor: pointer;
	text-align: center;
	transition: background 250ms ease-in-out, 
							transform 150ms ease;
}

button:hover,
button:focus {
	background: #0053ba;
}

button:focus {
	outline: 1px solid #fff;
	outline-offset: -4px;
}

button:active {
	transform: scale(0.99);
}

.file {
  opacity: 0;
  width: 0.1px;
  height: 0.1px;
  position: absolute;
}

.file-input {
	display: inline-block;
}

.file-input label {
  display: inline-block;
	border: none;
  width: 200px;
  height: 50px;
	font-size: 1rem;
	margin: 2px;
  background: #25D366;
  color: #ffffff;
	font-family: sans-serif;
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
	transition: background 250ms ease-in-out, 
							transform 150ms ease;
}

.file-input label:hover,
.file-input label:focus {
	background: #0053ba;
}
.file-input label:focus {
	outline: 1px solid #fff;
	outline-offset: -4px;
}

.file-input label:active {
	transform: scale(0.99);
}



